<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="student_register">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>add hostel</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link href="/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
   <section data-bs-version="5.1" class="menu cid-s48OLK6784" once="menu" id="menu1-23">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/adminmyHostels">
                        <img src="/images/logo.png" alt="img" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-secondary text-primary display-7" href="/adminmyHostels">MyHostel</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div style="color: aliceblue;" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-secondary display-4" href="/addhostel">Add Hostel</a>
                    <a class="btn btn-secondary display-4" href="#">Contact</a>
                    <a class="btn btn-secondary display-4" href="#">Service</a>
                    <form action="logout" method="post">
                        <button class="btn btn-secondary display-4" type="submit">LogOut</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

</section>

<section data-bs-version="5.1" class="form8 cid-t6SdI5Xpe0" id="form8-22">
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Add Hostel</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/addhostel" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">

                    <div class="dragArea row">
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="Name">
                            <input type="text" name="Name" placeholder="Hostel Name" data-form-field="Name" class="form-control" value="" id="Name-form8-22" autofocus required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="gender">
                            <input type="text" name="gender" placeholder="Hostel for male/female" data-form-field="gender" class="form-control" value="" id="gender-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="roomNumber">
                            <input type="text" name="roomNumber" placeholder="Number of Rooms" data-form-field="roomNumber" class="form-control" value="" id="email-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{>footer}}

  
</body>
</html>