<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="student_register">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>admin signup</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link href="/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
 {{>header}}

<section data-bs-version="5.1" class="form8 cid-t6SdI5Xpe0" id="form8-22">
    
    <div class="container" >
        <div class="mbr-section-head" style="padding-top: 130px;">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Admin</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid" style="padding-left: 270px;">
                <p style="color: red;">{{e}}</p>
                <form action="/admin_signup" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                
                    <div class="dragArea row">
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="username" placeholder="username" data-form-field="name" class="form-control" value="" id="username-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="gender">
                            <input type="hidden" name="gender" placeholder="gender" data-form-field="gender" class="form-control" value="admin" id="gender-form8-22">
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="password">
                            <input type="password" name="password" placeholder="password" data-form-field="password" class="form-control" value="" id="password-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{>footer}}

  
</body>
</html>