<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Home">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link href="/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  {{>header}}

<section data-bs-version="5.1" class="header1 cid-s48MCQYojq" id="header1-f">

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Full Screen Intro</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Welcome to MyHostel portal where you can reserve hostel as long as you are eligible to, and pleas Make sure are register on my portal before trying to login. if you have not click here<a class="btn btn-success display-5" href="/student_signup">Resgister</a></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-success display-5" href="/student_login">LOGIN</a></div>
                
            </div>
        </div>
    </div>

</section>

  {{>footer}}
  
</body>
</html>