<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="student_register">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Register</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link href="/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
 {{>header}}

<section data-bs-version="5.1" class="form8 cid-t6SdI5Xpe0" id="form8-22">
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Register</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <p>{{m}} : {{e}}</p>
                <form action="/signup" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">

                    <div class="dragArea row">
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="firstName">
                            <input type="text" name="firstName" placeholder="First Name" data-form-field="firstName" class="form-control" value="" id="firstName-form8-22" autofocus required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="lastname">
                            <input type="text" name="lastName" placeholder="Last Name" data-form-field="lastName" class="form-control" value="" id="lastname-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="otherName">
                            <input type="text" name="otherName" placeholder="Other Name" data-form-field="otherName" class="form-control" value="" id="otherName-form8-22" >
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="regnumber">
                            <input type="text" name="regnumber" placeholder="reg. number" data-form-field="regnumber" class="form-control" value="" id="regnumber-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="level">
                            <input type="text" name="level" placeholder="level" data-form-field="level" class="form-control" value="" id="level-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="gender">
                            <select id="gender-form8-22" name="gender" class="form-control">
                                <option style="color: green;">(Choose your Gender)</option>
                                <option value="male">Male</option>
                                <option value="female">female</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="tel">
                            <input type="tel" name="phone" placeholder="phone number" data-form-field="tel" class="form-control" value="" id="tel-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3" data-for="password">
                            <input type="password" name="password" placeholder="password" data-form-field="password" class="form-control" value="" id="password-form8-22" required>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{>footer}}

  
</body>
</html>