   <section data-bs-version="5.1" class="menu cid-s48OLK6784" once="menu" id="menu1-23">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/adminmyHostels">
                        <img src="/images/logo.png" alt="img" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-secondary text-primary display-7" href="/adminmyHostels">MyHostel</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div style="color: aliceblue;" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-secondary display-4" href="#">Contact</a>
                    <a class="btn btn-secondary display-4" href="#">Service</a>
                    <form action="logout" method="post">
                        <button class="btn btn-secondary display-4" type="submit">LogOut</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

</section>

